## Task 1

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import text

# Database connection settings
database_uri = 'mysql+pymysql://root:Pass%400288@localhost:3306/littlelemondb'

# Connect to the MySQL database using SQLAlchemy
engine = create_engine(database_uri)

## Task 2

In [13]:

query = """
SHOW tables;
"""
query_text = text(query)

with engine.connect() as connection:
    df = pd.read_sql(query_text, connection)


df

  Tables_in_littlelemondb
0                bookings
1         customerdetails
2                    menu
3     orderdeliverystatus
4                  orders
5              ordersview
6        staffinformation

## Task 3

In [14]:

query = """
SELECT CustomerName, ContactDetails
FROM CustomerDetails
JOIN Bookings ON CustomerDetails.CustomerID = Bookings.CustomerID
JOIN Orders ON Bookings.BookingID = Orders.BookingID
WHERE TotalCost > 60;
;
"""
query_text = text(query)

with engine.connect() as connection:
    df = pd.read_sql(query_text, connection)


df

Empty DataFrame
Columns: [CustomerName, ContactDetails]
Index: []